language: java
jdk: openjdk8
services:
  - docker
addons:
  firefox: latest
before_install:
  - echo $TRAVIS_BUILD_DIR
  - docker run --rm hello-world
install:
  - docker pull liferay/portal:7.2.1-ga2
  - docker pull postgres:12
  - docker pull mysql:8
before_script:
  - docker-compose up -d
  - sleep 15
script:
  - java -version
  - docker-compose exec mysql mysql domain -u domain -pdomain -e "select 'world' as hello"
  - docker-compose exec postgres psql lportal -U liferay -c "select 'world' as hello"
