language: java
jdk: openjdk8
services:
  - docker
addons:
  firefox: latest
before_install:
  - echo $TRAVIS_BUILD_DIR
  - docker run --rm hello-world
before_script:
  - docker-compose up -d postgres mysql
  - chmod +x ./wait-for-databases.sh
  - chmod +x ./wait-for-lportal.sh
  - ./wait-for-databases.sh
  - docker-compose up -d liferay
  - ./wait-for-lportal
script:
  - java -version
  - docker ps -a

