language: java
jdk: openjdk8
services:
  - docker
addons:
  firefox: latest
before_install:
  - echo $TRAVIS_BUILD_DIR
  - docker run hello-world
install:
  - docker pull liferay/portal:7.2.1-ga2
  - docker pull postgres:12
before_script:
  - docker-compose up -d
script:
  - java -version
