version: '3.4'

services:
    
  postgres:
    image: postgres:12
    container_name: postgres
    ports:
      - 2345:5432
    environment:
      - POSTGRES_DB=lportal
      - POSTGRES_USER=liferay
      - POSTGRES_PASSWORD=liferay

  mysql:
    image: mysql:8
    container_name: mysql
    ports:
      - 6789:5432
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_ROOT_PASSWORD=domain
      - MYSQL_DATABASE=domain
      - MYSQL_USER=domain
      - MYSQL_PASSWORD=domain
        
  liferay:
    image: liferay/portal:7.2.1-ga2
    container_name: liferay
    ports:
      - 8080:8080
    volumes:
      - ./liferay/mount:/mnt/liferay
      